<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">


            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>


            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
    
<ul class="nav">
	<li class="nav-item">
		<a class="nav-link active" aria-current="page" href="#">Actualité</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#">Les membres</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#">Contacter le CSE</a>
	</li>
</ul>


    
{% block body %}{% endblock %}




    </body>
</html>
